version: '3'

services:
  prometheus:
    image: "prom/prometheus"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9095:9090"
    container_name: prometheus
  grafana:
    image: "grafana/grafana"
    ports:
      - "3001:3000"
    container_name: grafana
