version: '3'

services:
  redis:
    image: redislabs/redisinsight:latest
    container_name: redisinsight
    volumes:
      - 'redisinsight:/var/lib/redisinsight'
    ports:
      - '8001:8001'
volumes:
  redisinsight: